div#about
  section.row
  section#abt.row.text-banner
    h1 Welcome to QUCA
      h3 Queens United Cricket Academy
    p
      | QUCA is the the first cricket academy dedicated to developing a passion for the game among the youth of New York reqion. Housed at Idlewild park, one of the few grounds dedicated to cricket in the New York region, QUCA is a non-profit organisation started by people passionate about the game

