header#top.container-fluid
  nav.navbar.navbar-inverse.navbar-fixed-top.cbp-af-header(role='navigation')
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='#')
          img(src='./images/preview1.png')
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="home" ui-sref="home") Home
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" href='#about') About Us
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" href='#acProg') Programs
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" href='#coaches') Coaches
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" href='#contact') Contact
          li
            a(data-toggle="collapse" data-target=".navbar-collapse" ui-sref='register.login') Join QUCA
      // /.navbar-collapse
    // /.container-fluid

//nav
//  ul.list-unstyled.main-menu
//    li.text-left
//      a#nav-close(href='#')
//        b X
//    li
//      a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="home" ui-sref="home") Home
//        span.icon
//    li
//      a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="social" ui-sref="social" ) Social
//        span.icon
//    li
//      a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="social" ui-sref="diary" ) My Diary
//        span.icon
//    li
//      a(href="") Profile
//      ul.list-unstyled
//        li.sub-nav
//          a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile') Personal
//            span.icon
//        li.sub-nav
//          a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile.assm') Assessment
//            span.icon
//        li.sub-nav
//          a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile.other') Other
//            span.icon
//    li
//      a(data-toggle="collapse" data-target=".navbar-collapse"  href='/logout') Logout
//    li
//      a(href='#')
//        | Menu Five
//        span.icon
//.navbar.navbar-inverse.navbar-fixed-top
//  // Include your brand here
//  .navbar-header.pull-right
//    a#nav-expander.nav-expander.fixed
//      |   
//      i.fa.fa-bars.fa-lg.white
//  a.navbar-brand(href='#') Fun Project
//
//
//
